<div class="container mt-4">
    <div class="row">
        <h3 class="header_bg p-4 text-center text-uppercase">Canpus Life</h3>
    </div>
    <div class="row">
        <div class="col-4 section_bg">
            <nav class="nav nav-pills nav-justified d-flex flex-column">
                <a class="nav-link" href="#">Fest</a>
                <a class="nav-link" href="#">Student Chapters</a>
                <a class="nav-link" href="#">Faculties</a>
                <a class="nav-link" href="#">Exta curriculum</a>
            </nav>
        </div>
        <div class="col-8 scroll">

            <h5>Fest</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci id fugiat natus repellat doloremque voluptates molestiae ad distinctio quae harum qui, culpa sint consequuntur debitis quod eius nostrum ab ea.</p>

            <h5>Student Chapters</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, dolorum! Cum id porro tempora distinctio maxime facilis laborum deserunt dolore quia adipisci modi veniam totam repudiandae ut, dolorum minima! Doloribus.</p>

            <h5>Faculties</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sit tenetur id iure possimus ut fugit eius cum beatae, voluptatem ipsam a aut natus debitis odio aspernatur. Illo, quam reprehenderit?</p>
            
            <h5>Exta curriculum</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam blanditiis molestiae repudiandae iusto necessitatibus laudantium qui repellat maiores officia voluptas temporibus consectetur cumque cupiditate molestias facilis, impedit facere. Perferendis, necessitatibus?</p>
            
        </div>
    </div>
</div>
