<div class="row">
    <div class="col-12 text-center text-uppercase p-4 departments_bg">
        <h5>Departments</h5>
    </div>
    <div class="col col-lg-12">
        <div class="row p-4 text-center text-uppercase d-flex justify-content-center">
            
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://i.pinimg.com/564x/3e/3f/58/3e3f5801784eb33e6217d7ca924f1dc8.jpg" alt="" srcset="" class="dept_logo">
                <p>civil engineering</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://i.pinimg.com/474x/4b/bc/2d/4bbc2da500071035914de88e1da69219.jpg" alt="" class="dept_logo">
                <p>Electrical and electronics engineering</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://img.freepik.com/premium-vector/minimalist-spanner-wrench-gear-logo-engineering-mechanical-tools-design-vector-illustration-vintage-automotive-garage-concept_527344-338.jpg?w=2000" alt="" class="dept_logo">
                <p>mechanical engineering</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTOTdgCzy2lQIZqtNeSCnazUdX-ZuglxzDhrqiiHPQ&s" alt="" class="dept_logo">
                <p>electonics and communication engineering</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f9599671-3f0b-47fd-9d5a-f53a350cd54c/dc5dvw5-16d6aeae-5f55-46fd-bb98-381ee8f7154f.jpg/v1/fill/w_1016,h_787,q_70,strp/cse_logo_by_gangadhar666_dc5dvw5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y5NTk5NjcxLTNmMGItNDdmZC05ZDVhLWY1M2EzNTBjZDU0Y1wvZGM1ZHZ3NS0xNmQ2YWVhZS01ZjU1LTQ2ZmQtYmI5OC0zODFlZThmNzE1NGYuanBnIiwiaGVpZ2h0IjoiPD03OTMiLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC9mOTU5OTY3MS0zZjBiLTQ3ZmQtOWQ1YS1mNTNhMzUwY2Q1NGNcL2dhbmdhZGhhcjY2Ni00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.wP7LKmuRexpeTWJPS95h7rUdqbQpqtDYyGX2UiUFLP8" alt="" class="dept_logo">
                <p>computer science and engineering</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://www.aceec.ac.in/wp-content/uploads/2021/08/CSE-DS-1-230x230.jpg" alt="" class="dept_logo">
                <p>computer science and engineering with data science</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://www.aceec.ac.in/wp-content/uploads/2021/08/CSE-AIML-230x230.jpg" alt="" class="dept_logo">
                <p>computer science and engineering with artificial inteligence</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
            <div class="col-10 col-sm-5 col-md-4 col-lg-3 d-flex flex-column align-items-center p-4 m-4  shadow-lg p-3 mb-5 departments_bg rounded">
                <img src="https://i.pinimg.com/originals/20/0b/6b/200b6be331b8ddd7b932d4749f1cac55.jpg" alt="" class="dept_logo">
                <p>humanity and science</p>
                <a href="#" class="btn btn-info">Know More</a>
            </div>
        </div>
    </div>
</div>