<div class="row p-4">
    <div class="col">
        <div class="row p-4">
            <div class="card text-center shadow-lg p-3 bg-body rounded">
                <div class="card-header header_bg">
                    <div class="nav-link">VISION</div>
                </div>
                <div class="card-body">
                    <p class="card-text text-capitalize">to develop excellence in technical education and to produce professionally excellent, knowledgeble, globally competitive and socially responsible engineers and entrepreneurs.</p>
                </div>
            </div>
        </div>

        <div class="row p-4">
            <div class="card shadow-lg p-3 bg-body rounded">
                <div class="card-header text-center header_bg"> 
                    <div class="nav-link">MISSION</div>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <ul class="text-capitalize">
                            <li>to provide quality education with emphasis on technical academic excellene, innovative research & development.</li>
                            <li>to develop the potential of human resources to meet the requirments of cutting edge technology.</li>
                            <li>to develop skills as per needs of industry and emerging technologies.</li>
                            <li>to develop human values, social values, entrepreneurship skills and professional ethics among the technocrats.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center header_bg p-4">NOTICE BOARD</h5>
                <marquee behavior="" direction="up" loop="" id="notice_board">
                    <p>notification1</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification2</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification3</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification4</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification5</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification6</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification7</p><hr class="border border-danger border-2 opacity-50">

                    <p>notification8</p><hr class="border border-danger border-2 opacity-50">

                </marquee>
            </div>
        </div>
    </div>
</div>