<div class="container mt-4">
    <div class="row">
        <h3 class="header_bg p-4 text-center text-uppercase">About Us</h3>
    </div>
    <div class="row">
        <div class="col-4 section_bg">
            <nav class="nav nav-pills nav-justified d-flex flex-column">
                <a class="nav-link" href="#">History</a>
                <a class="nav-link" href="#">Mission & Vision</a>
                <a class="nav-link" href="#">Management</a>
                <a class="nav-link" href="#">Academic Planning Committee</a>
                <a class="nav-link" href="#">Mandatory disclosures</a>
            </nav>
        </div>
        <div class="col-8 scroll">
            <h5>History</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, dolorum! Cum id porro tempora distinctio maxime facilis laborum deserunt dolore quia adipisci modi veniam totam repudiandae ut, dolorum minima! Doloribus.</p>

            <h5>Mission & Vision</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, sit tenetur id iure possimus ut fugit eius cum beatae, voluptatem ipsam a aut natus debitis odio aspernatur. Illo, quam reprehenderit?</p>
            
            <h5>Management</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam blanditiis molestiae repudiandae iusto necessitatibus laudantium qui repellat maiores officia voluptas temporibus consectetur cumque cupiditate molestias facilis, impedit facere. Perferendis, necessitatibus?</p>

            <h5>Academic Planning Committee</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci id fugiat natus repellat doloremque voluptates molestiae ad distinctio quae harum qui, culpa sint consequuntur debitis quod eius nostrum ab ea.</p>

            <h5>Mandatory disclosures</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora odio a voluptatibus nisi sed! Id mollitia officia aperiam tenetur repudiandae ipsam, reiciendis dolor in maxime quaerat. Sit eum rerum voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sequi in laborum ut reiciendis. Itaque vitae quisquam quasi asperiores quidem voluptates beatae, similique in mollitia animi, culpa totam sequi tenetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem animi dolorem consequatur saepe facilis nobis vero eveniet, excepturi quaerat commodi ipsam, dolore repudiandae ex doloremque nostrum accusamus ut nemo quis!</p>
        </div>
    </div>
</div>
