/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    overflow-x: hidden; /* Hide scrollbars */
  }

 #logo{
    width: 130px;
 }

 .smaller{
    font-size: smaller;
 }

 .navbar{
    background-image: linear-gradient(to right, #3F2C4C, #4F3E5B, #5B4C67);
}

.nav-link{
    color: #d9c57a !important;
    font-weight: bolder !important;
}

.dropdown-menu {
    background-color: #3F2C4C !important;
}

.header_bg{
    background-image: linear-gradient(to right, #3F2C4C, #4F3E5B, #5B4C67);
}